fastapi==0.115.12
uvicorn==0.34.3
faiss-cpu==1.11.0
numpy==2.3.0
pillow==10.2.0
boto3==1.38.33
python-dotenv==1.1.1
python-multipart==0.0.20
pydantic==2.11.5
clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
torch==2.7.1              # CPU build
torchvision==0.22.1
ftfy==6.3.1
regex==2024.11.6